body {
    background-color: #091829;
    color: #cccccc;
    font-family: Verdana, sans-serif;
    margin: 40px auto;
    padding: 20px;
    line-height: 1.3;
}

h1 {
    color: #cccccc;
    text-align: center;
}

a {
    color: #007aff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}
